<h1 class="welcome"> Welcome to the War App! </h1>

<div><img src="/images/war.jpg" alt="Playing Cards" class="cards"></div>

<h2>The goal of the game is to draw a higher card than the opponent!</h2>

<h3>You will be playing against a computer opponent</h3>
<div><img src="/images/acehigh.webp" alt="Ace Card" class="aces"></div>

<h4 class="wiki"><a href="https://en.wikipedia.org/wiki/War_(card_game)" target="_blank">Wikipedia article for the game War (card game)</a></h5>
