<%= @first %>

<%= @second %>

<h1> Welcome to the War App! </h1>


<h3><a href="https://en.wikipedia.org/wiki/War_(card_game)" target="_blank">Wikipedia article for the game War (card game)</a></h3>
