<div class="home">
  <h1 class="text"> Welcome to the War App! </h1>

  <div><img src="/images/war.jpg" alt="Playing Cards" class="cards"></div>

  <h2 class="text">The goal of the game is to draw a higher card than the opponent!</h2>

  <h3 class="text">You will be playing against a computer opponent</h3>
  <div><img src="/images/acehigh.webp" alt="Ace Card" class="aces"></div>

  <h3 class="text">Shuffle the decks if you run out of cards!</h3>

  <h4 class="wiki"><a href="https://en.wikipedia.org/wiki/War_(card_game)" target="_blank">Wikipedia article for the game War (card game)</a></h5>
</div>
