<h1> Welcome to the War App! </h1>

<h2>The goal of the game is to draw a higher card than the opponent!</h2>

<h3>You will be playing against a computer opponent!</h3>

<h4><a href="https://en.wikipedia.org/wiki/War_(card_game)" target="_blank">Wikipedia article for the game War (card game)</a></h5>
