<div class="play">
  <h1 class="outcome"><%= @outcome %></h1>

  <div class ="field">
    <div  class="player">
      <h2>Your Card</h2>
      <img src= <%= @img_first %> >
    </div>

    <div>
      <img src="/images/vs.png" alt="Versus" class="versus">
    </div>

    <div  class="player">
      <h2>Computer's Card</h2>
      <img src= <%= @img_second %> >
    </div>
  </div>

  <form action="/play">
    <button>Play Again</button>
  </form>

  <h3>There are <%=@remaining_first%> cards remaining in the decks</h3>
</div>
